<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="tests/bootstrap.php"
		 backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
		<testsuites>
			<testsuite name="JWT Token Auth Guard">
				<directory>./tests</directory>
			</testsuite>
		</testsuites>
		<filter>
			<whitelist>
				<directory suffix=".php">./app</directory>
			</whitelist>
		</filter>
		<logging>
		  <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
		  <log type="coverage-clover" target="build/logs/clover.xml" />
		</logging>
        <php>
            <env name="APP_ENV" value="testing"/>
            <env name="JWT_SECRET" value="testing"/>
	        <env name="DB_DATABASE" value="chmsProviderTest"/>
	        <env name="DB_HOST" value="127.0.0.1"/>
	        <env name="DB_USERNAME" value="root"/>
	        <env name="DB_PASSWORD" value="root"/>
            <env name="CACHE_DRIVER" value="array"/>
        </php>
</phpunit>
